html,
body {
  width: 100vw;
  height: 100vh;
}

li {
  list-style-type: none;
}
.commission-management {
  margin-top: 120px;
  & > h1 {
    display: block;
    width: 100%;
    font-size: var(--fs-h2);
    margin-bottom: 30px;
  }
}
.page-tabs {
  position: relative;
  & > ul {
    display: flex;
    gap: 20px;
    & a {
      font-size: var(--fs-text);
      color: var(--color-Secondary);
    }
  }
}
.tab-line-container {
  display: flex;
  height: 40px;
  align-items: center;
  .tab-line {
    display: block;
    height: 1px;
    width: 70%;
    background-color: var(--color-Secondary);
  }
}
.row {
  display: flex;
  gap: 20px;
  .commission-list {
    width: 70%;
  }
  .sidebar {
    width: 30%;
  }
  .filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .filter-btn.active {
      color: var(--color-black);
      padding: 4px 14px;
      background-color: rgb(236, 236, 236);
      border: 1px solid gray;
      border-radius: 99px;
      font-weight: var(--btn-font-weight);
    }
    .filter-btn {
      display: inline-block;
      margin-right: 30px;
      appearance: none;
      border: none;
      outline: none;
      color: gray;
    }
  }
  .search-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    outline: none;
    color: gray;
    gap: 4px;
    margin-right: 10px;
    & > img {
      width: 14px;
      filter: brightness(0.75);
    }
  }
  .search-btn:hover {
    gap: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    outline: none;
    color: rgb(167, 167, 167);
    margin-right: 10px;
    & > img {
      width: 14px;
      filter: brightness(0.75);
    }
  }
  .hidden {
    display: none;
  }

  .search-input {
    appearance: none;
    border: none;
    /* border-bottom: 1px solid gray; */
    outline: none;
    background-color: var(--color-Primary);
  }
  .commission-card {
    display: flex;
    align-items: center;
    padding: 20px 10px 20px 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-note);
    border-radius: 20px;
  }

  .card-list li + li {
    margin-top: 20px;
  }

  .card-creator {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .card-progress {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: var(--color-light-note);
    border-radius: 99px;
    opacity: 0.5;
  }
  .progress-bar {
  }
  .card-thumbnail {
    width: 100px;

    margin-right: 20px;
    border-radius: 20px;
  }
  .creator-name {
    font-weight: var(--btn-font-weight);
  }
  .creator-avatar {
    width: 30px;
    display: inline-block;
    border-radius: 99px;
  }
  .creator-id {
    font-size: var(--fs-button);
    color: var(--color-Secondary);
  }
  .card-status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .card-status-text {
    font-size: var(--fs-caption);
    color: var(--color-Secondary);
  }
  .update-time {
    font-size: var(--fs-caption);
    color: var(--color-Secondary);
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    & > h3 {
      font-size: var(--fs-small);
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 80%;
  }
  .card-detail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--fs-button);
      color: gray;
      & > img {
        display: block;
        margin-left: 4px;
        width: 14px;
        opacity: 0.5;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    font-size: var(--fs-caption);
    padding: 4px 12px;
    border-radius: 99px;
  }
  .status-pending {
    background-color: var(--status-pending-bg);
    border: 1px solid var(--color-red);
  }
  .status-in-progress {
    background-color: var(--status-in-progress-bg);
    border: 1px solid var(--color-green);
  }
  .status-done {
    background-color: var(--status-done-bg);
    border: 1px solid var(--color-Secondary);
  }
}
