#nav-bg {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-Primary);
}

.category-bar {
  display: flex;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 12;
  align-items: center;
  margin-bottom: 30px;

  div,
  a,
  button,
  ul {
    display: flex;
    align-items: center;
  }
  .main-guide-con {
    margin-left: 48px;
  }
  .main-guide-button {
    width: 124px;
    padding: 12px 14px;
    gap: 14px;
    border-radius: 15px;
    border: 1px solid var(--color-note);
    font-size: var(--fs-button);
    background: var(--color-white);
    color: var(--color-black);
    font-weight: var(--btn-font-weight);
    & > img {
      display: block;
      width: 20px;
    }
  }

  .main-guide-button:hover {
    background: #edefee;
  }
}

.chosing-section {
  position: relative;
  gap: 16px;
  min-width: 0;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  margin-left: 20px;

  li {
    display: inline;
  }
}
.chosing-section li button {
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: var(--fs-caption);
  color: var(--color-Secondary);
  transition: all 0.2s ease;
  padding: 8px 14px;
}
ul li button:hover {
  color: #867664;
  padding: 8px 14px;
  background-color: #d6cdc2;
  border-radius: 99px;
}

.sub-section {
  width: 100%;
  margin-left: 48px;
  margin-top: 140px;

  .wrap-sub-section {
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    gap: 36px;
    padding-block: 10px;
  }

  .wrap-sub-section button {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 12px;
    color: var(--color-black);
    font-weight: var(--btn-font-weight);
    padding: 8px 16px 8px 8px;
    font-size: var(--fs-caption);
    background-color: var(--color-white);
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 3px 3px 5px #ecebeb;
    transition: all 0.2s ease;
  }

  button:hover {
    background-color: rgb(207, 205, 205);
    transform: scale(1.03);
  }

  img {
    width: 50px;
  }
}

.before-login-bn {
  margin: 30px auto 0;
  width: 70%;
  height: 200px;
  gap: 10px;
  border-radius: 20px;
  padding-block: 80px;
  padding-inline-start: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../Picture/Art_work/before-login-bn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;

  h1 {
    font-size: var(--fs-hero);
    line-height: 1;
  }

  .row,
  a {
    display: flex;
    align-items: center;
  }

  .row {
    gap: 20px;
  }

  a {
    gap: 10px;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
  }

  a:first-of-type {
    color: var(--color-white);
    background-color: var(--color-black);
    font-weight: var(--btn-font-weight);
  }

  a:last-of-type {
    color: var(--color-white);
    background: var(--color-gradient);
    font-weight: var(--btn-font-weight);
  }
}

#checkPoint {
  height: 10px;
}

.gallery {
  width: 100%;
  padding-inline: 48px;
  margin: 40px auto 0;
  column-count: 5;
  column-gap: 36px;
  box-sizing: border-box;

  .card {
    cursor: pointer;
    break-inside: avoid;
    margin-bottom: 28px;
    overflow: hidden;

    transition: transform 0.3s ease;

    img {
      margin-bottom: 10px;
      border-radius: 14px;
      width: 100%;
      height: auto;
      display: block;
    }
    &:hover {
      transform: scale(1.03);
    }

    .name {
      font-size: var(--fs-button);
    }

    .user {
      font-size: var(--fs-caption);
    }
  }
}
/* 展示燈箱 */
.light-box-display {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 90vh;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 20px;
  .col:first-child {
    height: 100%;
    overflow-y: auto;
    flex: 5;
    & > img {
      display: block;
      width: 100%;
      /* border-radius: 10px; */
    }
  }

  .col:last-child {
    height: 100%;
    overflow-y: auto;
    padding-block: 40px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    flex: 4;
    & > h3 {
      font-size: var(--fs-body);
      margin-bottom: 4px;
    }
    #lbClose {
      width: 30px;
      height: auto;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: var(--fs-button);
    color: var(--color-black);
    margin-bottom: 10px;
    gap: 20px;
  }
  .description::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-note);
  }
  #lbClose {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    margin-left: auto;
  }
  .status {
    display: inline-block;
    width: auto;
    border-radius: 8px;
    font-size: var(--fs-caption);
    color: var(--color-white);
    padding: 4px 10px;
    background-color: var(--color-green);
    margin-bottom: 10px;
  }
  .info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    .profilepic {
      width: 50px;
      & > img {
        width: 100%;
        display: block;
        border-radius: 99px;
      }
    }
    & > h6 {
      font-size: var(--fs-small);
    }
    & > span {
      font-size: var(--fs-button);
      color: rgb(157, 157, 157);
    }
    .Follow {
      appearance: none;
      border: none;
      outline: none;
      padding: var(--btn-padding);
      background-color: var(--color-black);
      border-radius: 99px;
      color: var(--color-white);
    }
  }
  .info-title {
    color: var(--color-black);
    font-size: var(--fs-small);
  }
  .project-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    & > button {
      font-size: 14px;
      color: rgb(157, 157, 157);
      font-weight: var(--btn-font-weight);
      display: flex;
      gap: 4px;
      align-items: center;
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
      & > img {
        width: 16px;
      }
    }
  }
  .lbComProject {
    margin-bottom: 40px;
  }
  .tier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid var(--color-note);
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: rgb(157, 157, 157, 0.1);
    & > span:last-child {
      font-size: var(--fs-text);
      color: gray;
    }
  }
  #lightboxSpecification {
    .info-title {
      margin-bottom: var(--fs-caption);
    }
    & > p {
      font-size: var(--fs-button);
      margin-bottom: var(--fs-button);
      color: gray;
    }
    .info-sub-title {
      font-size: var(--fs-button);
      margin-bottom: 8px;
      font-weight: 500;
    }
  }
  .com-submit {
    margin-top: 40px;
    width: 100%;
    & > a {
      font-size: var(--fs-text);
      display: block;
      text-align: center;
      padding: 10px;
      border-radius: 99px;
      background-color: var(--color-red);
      color: white;
      font-weight: var(--btn-font-weight);
    }
  }
}
#lightbox {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

/* 首頁主選單 */
.main-menu {
  margin-top: 240px;
}
.menu-content {
  display: none;
}
.menu-content.active {
  display: block;
}
.tab {
  list-style: none;
}

.tab.active {
  color: var(--color-red);
}
