html,
body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

li {
  list-style-type: none;
}

.commission-management {
  flex: 1;
  margin-top: 110px;
  /* min-height: 0; */

  & > h1 {
    display: block;
    width: 100%;
    font-size: var(--fs-h2);
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.page-tabs {
  position: relative;

  & > ul {
    display: flex;
    gap: 20px;

    & a {
      font-size: var(--fs-small);
      color: gray;
    }
  }

  .active {
    position: relative;
    color: var(--color-red);
    font-weight: 900;
  }

  .active::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 99px;
    background-color: var(--color-red);
  }
}

.tab-line-container {
  display: flex;
  height: 30px;
  align-items: center;

  .tab-line {
    display: block;
    height: 1px;
    width: 78%;
    background-color: var(--color-note);
  }
}

.row {
  display: flex;
  gap: 20px;

  .commission-list {
    flex: 4;
  }

  .sidebar {
    flex: 1;
    /* padding-top: 3em; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -20px;
  }
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;

  .filter-btn.active {
    color: var(--color-white);
    padding: 4px 14px;
    background-color: var(--color-red);
    border-radius: 99px;
    font-weight: var(--btn-font-weight);
  }

  .filter-btn {
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    appearance: none;
    border: none;
    outline: none;
    color: gray;
  }
}

.search-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  outline: none;
  color: gray;
  gap: 4px;
  margin-right: 18px;

  & > img {
    width: 14px;
    filter: brightness(0.75);
  }
}

.search-btn:hover {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  appearance: none;
  border: none;
  outline: none;
  color: rgb(167, 167, 167);
  margin-right: 10px;

  & > img {
    width: 14px;
    filter: brightness(0.75);
  }
}

.hidden {
  display: none;
}

.search-input {
  appearance: none;
  border: none;
  /* border-bottom: 1px solid gray; */
  outline: none;
  background-color: var(--color-Primary);
}

.commission-card {
  display: flex;
  align-items: center;
  padding: 20px 14px 20px 18px;
  background-color: var(--color-white);
  border: 1px solid var(--color-note);
  border-radius: 24px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-note) transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-note);
    border-radius: 99px;
  }
}

.card-creator {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.progress-track {
  position: relative;
  background-color: var(--color-light-note);
  border-radius: 99px;
  opacity: 0.5;
  width: 100%;
  height: 8px;
}

.progress-fill {
  height: 100%;
  border-radius: 99px;
}

.card-thumbnail {
  width: 100px;
  height: 100px;

  margin-right: 20px;
  border-radius: 20px;
}

.creator-name {
  font-weight: var(--btn-font-weight);
}

.creator-avatar {
  width: 30px;
  display: inline-block;
  border-radius: 99px;
}

.creator-id {
  font-size: var(--fs-button);
  color: var(--color-Secondary);
}

.card-status {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.card-status-text {
  font-size: var(--fs-caption);
  color: gray;
}

.update-time {
  font-size: var(--fs-caption);
  color: gray;
}

.card-header {
  display: flex;
  justify-content: space-between;

  & > h3 {
    font-size: var(--fs-small);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.card-detail-btn {
  height: 100%;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-small);
    font-weight: 400;
    padding: 10px;

    color: gray;

    & > img {
      align-self: center;
      margin-left: 4px;
      width: 14px;
      opacity: 0.5;
    }
  }
}

.status {
  display: flex;
  align-items: center;
  font-size: var(--fs-caption);
  padding: 4px 12px;
  border-radius: 99px;
}

.status-pending {
  background-color: var(--status-pending-bg);
  border: 1px solid var(--color-red);
}

.status-in-progress {
  background-color: var(--status-in-progress-bg);
  border: 1px solid var(--color-green);
}

.status-done {
  background-color: var(--status-done-bg);
  border: 1px solid var(--color-Secondary);
}

.summary-card,
.todo-card {
  background-color: var(--color-white);
  border: 1px solid var(--color-note);
  padding: 32px 30px 36px 30px;
  border-radius: 20px;
}

.summary-card {
  .stats {
    display: flex;
    justify-content: space-between;
  }

  & > h3 {
    display: block;
    margin-bottom: 1ex;
    font-size: var(--fs-small);
    font-weight: 600;
  }

  .stat-item {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .stat-item + .stat-item {
    border-left: 1px solid var(--color-note);
  }

  .stat-number {
    font-size: var(--fs-h1);
    font-weight: 900;
    display: block;
    margin-bottom: 10px;
  }

  .stat-label {
    font-size: var(--fs-button);
  }

  .red {
    color: var(--color-red);
  }

  .green {
    color: var(--color-green);
  }

  .secondary {
    color: var(--color-Secondary);
  }
}

.todo-card {
  & > h3 {
    display: block;
    margin-bottom: 2ex;
    font-size: var(--fs-small);
    font-weight: 600;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > li {
      display: flex;
      align-items: center;
      font-size: var(--fs-button);
      padding-bottom: 8px;
      border-bottom: 1px solid var(--color-note);
    }

    & > li::before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: gray;
      margin-right: 6px;
      border-radius: 99px;
    }
  }
}
