* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hidden {
  display: none !important;
}

#nav-bg {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 238, 236, 0.95);
  height: 80px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0.96;
  background: var(--color-Primary);
}

:root {
  /* Color Palette */
  --color-Primary: #f0eeec;
  --color-Secondary: #a99c8c;
  --color-gradient: linear-gradient(
    100deg,
    #80caea -162.61%,
    #78b260 -104.82%,
    #ebbd00 -47.03%,
    #f0809f 10.75%,
    #eb5919 68.54%
  );
  --color-black: #232020;
  --color-white: #f5f7f6;
  --color-red: #eb5919;
  --color-pink: #f0809f;
  --color-yellow: #ebbd00;
  --color-green: #78b260;
  --color-blue: #80caea;
  --color-note: #c2c2c2;
  --color-light-note: #d5d5d5;

  /* Font-Size - 由大到小 */
  --fs-display: 3.75rem;
  /* 超大裝飾數字 */
  --fs-h1: 3rem;
  /* 頁面主標 */
  --fs-hero: 2.625rem;
  /* 版頭廣告主標 */
  --fs-h2: 2.25rem;
  /* 區塊大標題 */
  --fs-body: 1.75rem;
  /* 一般內文 */
  --fs-h3: 1.5rem;
  /* 小標/表單標籤 */
  --fs-input: 1.375rem;
  /* 輸入框文字 */
  --fs-text: 1.25rem;
  /* 說明文字 */
  --fs-small: 1.125rem;
  /* 次要說明 */
  --fs-button: 0.875rem;
  /* 按鈕文字 */
  --fs-caption: 0.75rem;
  /* 小字:作者名、說明文字 */

  /* Btn-Size */
  --btn-padding: 0.6em 1.5em;
  --btn-radius: 99px;
  --btn-font-weight: 500;

  /* Width */
  --w-10: 10%;
  --w-20: 20%;
  --w-30: 30%;
  --w-40: 40%;
  --w-50: 50%;
  --w-60: 60%;
  --w-70: 70%;
  --w-80: 80%;
  --w-90: 90%;
  --w-100: 100%;

  /* Status Colors */
  --status-pending-bg: rgba(235, 89, 25, 0.5);
  --status-in-progress-bg: rgba(120, 178, 96, 0.5);
  --status-done-bg: rgba(169, 156, 140, 0.5);
}

a {
  text-decoration: none;
}

.site-header {
  z-index: 15;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 30px;
  justify-content: space-between;

  .logo {
    height: 36px;
    display: block;
    margin-right: 20px;
  }
  .logo-pd-mb {
    display: none;
    height: 36px;
    margin-right: 20px;
  }
  & > :first-child {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .explore-followed {
    position: relative;
    display: flex;
    margin-top: 8px;
    font-size: var(--fs-small);

    .hidden-box {
      display: none;
    }

    & label {
      padding: 6px 12px;
      color: gray;
      cursor: pointer;
      position: relative;
      z-index: 1;
      font-size: var(--fs-button);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3 ease;
    }

    &:has(#followed:checked) label[for="followed"],
    &:has(#explore:checked) label[for="explore"] {
      font-weight: var(--btn-font-weight);
      color: var(--color-black);
    }
  }
  #explore-followed-pd {
    display: none;
    appearance: none;
    border: 0;
    background-color: var(--color-white);
    padding: 1em 3em 1em 1.4em;
    border-radius: 99px;
    font-size: var(--fs-caption);
    color: gray;
    background-image: url("../Picture/icon/slide-down-brown.png");
    background-repeat: no-repeat;
    background-position: right 1.2em center;
    background-size: 12px;
    cursor: pointer;
  }

  .amilu-search-bar {
    display: flex;
    margin-inline: 8px;
    align-items: center;
    height: 36px;
    padding: 0px 10px;
    width: 40%;
    gap: 12px;
    border-radius: 99px;
    border: 1px solid var(--color-note);
    background: var(--color-white);
    transition: all 0.2s;
    & > img {
      display: block;
      width: 18px;
    }
    & > .search-txt {
      font-size: var(--fs-button);
      flex-grow: 1;
      border: none;
      outline: none;
      background: transparent;
      color: var(--color-black);

      &::placeholder {
        color: var(--color-note);
      }
    }
  }
  .site-header-right {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .btn-md-red-withicon-pd {
    display: none;
  }
  .description {
    display: flex;
    font-size: var(--fs-caption);
    font-weight: 600;
    gap: 20px;
    margin-top: 7px;
    flex-direction: flex-start;

    /* 網站說明 */
    .btn-help-page {
      white-space: nowrap;
      height: auto;
      padding: 0.6em auto;
      color: var(--color-black);
      display: flex;
      align-items: center;
    }
    .btn-help-page:hover {
      color: rgb(86, 86, 86);
    }
    /* 上傳作品 */
    .btn-md-red-withicon {
      height: auto;
      display: flex;
      align-items: center;
      padding: 0.6em auto;
      gap: 8px;
      color: var(--color-red);
    }
    .icon-upload {
      width: 18px;
      display: block;
    }
    & a img {
      height: 16px;
    }
  }

  .btn-before-lg {
    display: flex;
    align-items: center;
    gap: 20px;

    #web-login {
      white-space: nowrap;
      color: var(--color-black);
      font-weight: var(--btn-font-weight);
      font-weight: 600;
      font-size: var(--fs-caption);
    }
    #web-login:hover {
      color: rgb(86, 86, 86);
    }

    .button-md-black {
      white-space: nowrap;
      font-size: var(--fs-caption);
      display: flex;
      align-items: center;
      padding: var(--btn-padding);
      background-color: var(--color-black);
      border-radius: var(--btn-radius);
      font-weight: var(--btn-font-weight);
      color: var(--color-white);
      font-weight: 600;
    }

    .button-md-black:hover {
      background-color: rgb(54, 51, 51);
    }
  }
}

footer {
  display: flex;
  width: 96%;
  margin-top: auto;
  margin-inline: auto;
  margin-bottom: 20px;
  color: var(--color-Secondary);
  flex-wrap: wrap;
  gap: 30px;

  .footer-logo {
    width: 80px;
    & > img {
      width: 100%;
    }
  }

  .brand-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--fs-button);
    gap: 10px;

    & > span {
      font-size: var(--fs-caption);
    }
  }

  .footer-nav-icon {
    width: 100%;
  }

  .footer-nav-icon a {
    display: inline-block;
    margin-right: 8px;

    & > img {
      width: 20px;
    }
  }

  .nav-list {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
  }

  .nav-list > ul {
    display: flex;
    list-style: none;
    /* margin-bottom: 10px; */
    gap: 20px;

    & li > a {
      display: flex;
      align-items: center;
      color: var(--color-Secondary);
      font-size: var(--fs-caption);
    }
  }

  .copyright-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    font-size: 10px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgb(216, 199, 199);
      position: absolute;
      top: -14px;
      left: 0;
    }
  }
}

.info-pic {
  width: 28px;
  & > img {
    width: 100%;
    display: block;
    border-radius: 999px;
  }
}
.btn-after-lg {
  display: flex;
  gap: 16px;
}

.icon-slide-down {
  display: block;
  width: 12px;
  & > img {
    width: 100%;
  }
}
/* 右上角個人資訊*/
.field-user-info {
  display: flex;
  flex-direction: column;
  padding: 8px 14px 8px 8px;
  background-color: var(--color-white);
  border-radius: 20px;
  transition: all 0.2s ease;
}
/* 右上角個人資訊(點開後標題)*/
.btn-user-info {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* 右上角個人資訊下拉項目 */
.menu-user-info {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.menu-user-info li {
  display: block;
}
.btn-chat,
.btn-news {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 999px;
  transition: all 0.2s ease;

  & > img {
    width: 16px;
    display: block;
  }
}
.btn-chat:hover,
.btn-news:hover,
.field-user-info:hover {
  box-shadow: 3px 3px 8px rgba(132, 127, 127, 0.12);
}
.info-menu-content {
  margin-left: -8px;
  margin-top: 4px;
}
.info-menu-content div:first-child {
  font-size: var(--fs-caption);
  font-weight: 400;
  color: var(--color-black);
}
.info-menu-content div:last-child {
  font-size: var(--fs-caption);
  font-weight: 300;
  color: var(--color-note);
}
.field-user-info ul {
  margin-top: 8px;
}
.field-user-info ul li {
  display: block;
  margin-left: 10px;
  margin-bottom: 6px;
}
.field-user-info ul li a {
  font-size: var(--fs-caption);
  color: var(--color-black);
  font-weight: 400;
}

/* RWD */

/* 平板尺寸 */
@media (768px <= width < 1200px) {
  .site-header .explore-followed {
    display: none;
  }
  .site-header #explore-followed-pd {
    display: inline-block;
  }
  .site-header .logo {
    display: none;
  }
  .site-header .logo-pd-mb {
    display: block;
  }
  .site-header .description .btn-md-red-withicon {
    display: none;
  }
  .site-header .btn-md-red-withicon-pd {
    display: block;
  }
  .chat-notice {
    display: none;
  }
  .btn-news-notice {
    display: none;
  }
}

/* 手機：< 768px */
@media (width < 768px) {
  .site-header {
    padding-inline: 10px;
  }
  .amilu-search-bar {
    width: 30%;
    min-width: 100px;
    flex: 1;
    min-width: 0;
    margin-inline: 20px;
    .search-txt {
      overflow-x: hidden;
    }
  }
  .gallery {
    padding-inline: 10px;
    column-count: 2;
    gap: 10px;
    margin-top: 150px;
    .card {
      margin-bottom: 14px;
      .name {
        font-size: 12px;
      }

      .user {
        font-size: 8px;
      }
    }
  }
  .site-header .explore-followed {
    display: none;
  }
  .site-header #explore-followed-pd {
    display: none;
  }
  .site-header .logo {
    display: none;
  }
  .site-header .logo-pd-mb {
    display: block;
  }
  .site-header .description {
    display: none;
  }
  .chat-notice {
    display: none;
  }
  .btn-news-notice {
    display: none;
  }
}
