* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#nav-bg {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 238, 236, 0.8);
  height: 80px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#nav-bg.scrolled {
  box-shadow: 0px 1px 30px var(--color-Primary);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0.96;
  background: var(--color-Primary);
  padding: 0 48px;
}

:root {
  /* Color Palette */
  --color-Primary: #f0eeec;
  --color-Secondary: #a99c8c;
  --color-gradient: linear-gradient(100deg,
      #80caea -162.61%,
      #78b260 -104.82%,
      #ebbd00 -47.03%,
      #f0809f 10.75%,
      #eb5919 68.54%);
  --color-black: #232020;
  --color-white: #f5f7f6;
  --color-red: #eb5919;
  --color-pink: #f0809f;
  --color-yellow: #ebbd00;
  --color-green: #78b260;
  --color-blue: #80caea;
  --color-note: #c2c2c2;
  --color-light-note: #d5d5d5;

  /* Font-Size - 由大到小 */
  --fs-display: 3.75rem;
  /* 超大裝飾數字 */
  --fs-h1: 3rem;
  /* 頁面主標 */
  --fs-hero: 2.625rem;
  /* 版頭廣告主標 */
  --fs-h2: 2.25rem;
  /* 區塊大標題 */
  --fs-body: 1.75rem;
  /* 一般內文 */
  --fs-h3: 1.5rem;
  /* 小標/表單標籤 */
  --fs-input: 1.375rem;
  /* 輸入框文字 */
  --fs-text: 1.25rem;
  /* 說明文字 */
  --fs-small: 1.125rem;
  /* 次要說明 */
  --fs-button: 0.875rem;
  /* 按鈕文字 */
  --fs-caption: 0.75rem;
  /* 小字:作者名、說明文字 */

  /* Btn-Size */
  --btn-padding: 0.6em 1.5em;
  --btn-radius: 99px;
  --btn-font-weight: 500;

  /* Width */
  --w-10: 10%;
  --w-20: 20%;
  --w-30: 30%;
  --w-40: 40%;
  --w-50: 50%;
  --w-60: 60%;
  --w-70: 70%;
  --w-80: 80%;
  --w-90: 90%;
  --w-100: 100%;

  /* Status Colors */
  --status-pending-bg: rgba(235, 89, 25, 0.5);
  --status-in-progress-bg: rgba(120, 178, 96, 0.5);
  --status-done-bg: rgba(169, 156, 140, 0.5);
}

a {
  text-decoration: none;
}

.site-header {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  gap: 92px;
  padding: 0 48px;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 36px;
  }

  &> :first-child {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
  }

  .explore-followed {
    position: relative;
    display: flex;
    height: 50px;
    font-size: var(--fs-small);

    .hidden-box {
      display: none;
    }

    label {
      padding: 6px 12px;
      color: gray;
      cursor: pointer;
      position: relative;
      z-index: 1;
      font-size: var(--fs-button);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3 ease;
    }

    &:has(#followed:checked) label[for="followed"],
    &:has(#explore:checked) label[for="explore"] {
      font-weight: var(--btn-font-weight);
      color: var(--color-black);
    }
  }

  .amilu-search-bar {
    height: 42px;
    padding: 0px 20px;
    width: 600px;

    gap: 12px;
    border-radius: 99px;
    border: 1px solid var(--color-note);
    background: var(--color-white);

    &>.search-txt {
      font-size: var(--fs-button);
      flex-grow: 1;
      border: none;
      outline: none;
      background: transparent;
      color: var(--color-black);

      &::placeholder {
        color: var(--color-note);
      }
    }
  }

  .description {
    display: flex;
    align-items: center;
    gap: 36px;

    &>a {
      font-size: var(--fs-button);
      color: var(--color-black);
      font-weight: 600;
    }

    &>.btn-md-red-withicon {
      display: flex;
      align-items: center;
      font-weight: 600;
      padding: var(--btn-padding);
      background-color: var(--color-red);
      border-radius: var(--btn-radius);
      gap: 16px;
      color: var(--color-white);
      transition: all 0.3s ease;
    }

    &>.btn-md-red-withicon:hover {
      background-color: #ce4910;
    }
  }

  &> :nth-child(3) {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    font-size: var(--fs-button);

    &> :last-child {
      gap: 20px;

      a {
        color: var(--color-black);
        font-weight: var(--btn-font-weight);
        font-weight: 600;
      }

      &>.button-md-black {
        display: flex;
        align-items: center;
        padding: var(--btn-padding);
        background-color: var(--color-black);
        border-radius: var(--btn-radius);
        font-weight: var(--btn-font-weight);
        color: var(--color-white);
        font-weight: 600;
      }

      &>.button-md-black:hover {
        background-color: rgb(54, 51, 51);
      }
    }
  }
}

footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;

  .footer-logo {
    width: 80px;

    &>img {
      width: 100%;
    }
  }

  color: var(--color-Secondary);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .brand-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--fs-button);
    gap: 10px;

    &>span {
      font-size: var(--fs-caption);
    }
  }

  .footer-nav-icon {
    width: 100%;
  }

  .footer-nav-icon a {
    display: inline-block;
    margin-right: 8px;

    &>img {
      width: 20px;
    }
  }

  .nav-list {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
  }

  .nav-list>ul {
    display: flex;
    list-style: none;
    /* margin-bottom: 10px; */
    gap: 30px;

    & li>a {
      display: flex;
      align-items: center;
      color: var(--color-Secondary);
      font-size: var(--fs-button);
    }
  }

  .copyright-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    font-size: var(--fs-caption);

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgb(216, 199, 199);
      position: absolute;
      top: -14px;
      left: 0;
    }
  }
}